<%= form_with(model: [:backoffice, professional_carreer], local: true) do |form| %>
  <% if professional_carreer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(professional_carreer.errors.count, "error") %> prohibited this professional_carreer from being saved:</h2>

      <ul>
      <% professional_carreer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='columns is-multiline'>
    <div class='column is-one-third'>
      <div class="field">
        <label class='label'>Inicio</label>
        <div class='control'>
          <%= form.date_field :start_date, class:"input is-link is-rounded" %>
        </div>
      </div>
    </div>
    <div class='column is-one-third'>
      <div class="field">
        <label class='label'>Fim</label>
        <div class='control'>
          <%= form.date_field :end_date, class:"input is-link is-rounded" %>
        </div>
      </div>
    </div>
    <div class='column is-one-third'>
      <div class="field">
        <label class='label'>Cargo</label>
        <div class='control'>
          <%= form.text_field :occupation, class:"input is-link is-rounded" %>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <label class='label'>Descrição/Responsabilidades do cargo</label>
    <div class='control'>
      <%= form.text_area :description, class:"textarea is-link is-rounded" %>
    </div>
  </div>

  <div class="actions is-grouped">
    <%= form.submit "Salvar", class:"button is-primary" %>
    <%= link_to backoffice_professional_carreers_path, class:"button is-info" do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
<% end %>
