<%= form_with(model: professional_carreer, local: true) do |form| %>
  <% if professional_carreer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(professional_carreer.errors.count, "error") %> prohibited this professional_carreer from being saved:</h2>

      <ul>
      <% professional_carreer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>

  <div class="field">
    <%= form.label :occupation %>
    <%= form.text_field :occupation %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
    <%= link_to 'Back', backoffice_professional_carreers_path %>
  </div>
<% end %>
