<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @professional_carreer.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @professional_carreer.end_date %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @professional_carreer.occupation %>
</p>

<p>
  <strong>Description:</strong>
  <%= @professional_carreer.description %>
</p>

<%= link_to 'Edit', edit_backoffice_professional_carreer_path(@professional_carreer) %> |
