<nav class="navbar is-dark is-mobile" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>

    <a class="navbar-item" href="/backoffice/projects">
      <span class="icon-text">
        <span class="icon">
          <i class="fas fa-business-time"></i>
        </span>
        <span>Backoffice</span>
      </span>
    </a>
  </div>

  <div class="navbar-menu has-background-dark" id="navMenu">
    <div class="navbar-start">

      <a class="navbar-item has-icons-right", href="/">
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-desktop"></i>
          </span>
          <span>Website</span>
        </span>
      </a>

      <div class="navbar-item has-dropdown is-hoverable">

        <a class="navbar-link">
          Módulos
        </a>

        <div class="navbar-dropdown">
          <%= link_to "Projetos", backoffice_projects_path, class:"navbar-item" %>
          <%= link_to 'Stacks', backoffice_stacks_path, class:"navbar-item" %>

          <hr class="navbar-divider">
          
          <%= link_to destroy_user_session_path(current_user), method: :delete, data: { confirm:"Tem certeza que quer sair ?" }, class:" navbar-item has-icons-left" do %>
            <span class="icon-text">
              <span class="icon">
                <i class="fas fa-sign-out-alt"></i>
              </span>
              <span>Sair</span>
            </span>
          <% end %>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class='navbar-item'>
          <p class="control has-icons-left">
            <input class="input" type="text" placeholder="Search">
            <span class="icon is-left">
              <i class="fas fa-search" aria-hidden="true"></i>
            </span>
          </p>
      </div>
        <div class='navbar-item'>
          <%= link_to new_backoffice_project_path, class:"button is-success", style:"width:150px;" do %>
            <i class='fas fa-book'></i> &nbsp;Novo Projeto
          <% end %>
        </div>
        <div class='navbar-item'>
          <%= link_to new_backoffice_stack_path, class:"button is-success", style:"width:150px;" do %>
            <i class='fas fa-plus-circle'></i> &nbsp;Adicionar Stack
          <% end %>
        </div>
    </div>
  </div>
</nav>
