<%= form_with(model: [:backoffice, @project], local: true) do |form| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class='columns'>
    <div class='column is-one-third'>
      <div class="field">
        <div class="file">
          <label class="file-label">
            <label class="label">Imagem da <br>Home:</label>&nbsp;&nbsp;&nbsp;

            <% if @project.thumbnail.attached? %>
              <div class="image is-128x128">
                <%= image_tag @project.thumbnail %>
              </div>
            <% end %>
            &nbsp;&nbsp;&nbsp;
            <%= form.file_field :thumbnail, direct_upload: true, class:"file-input is-link is-rounded" %>
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
            </span>
          </label>
        </div>
      </div>
    </div>

    <div class='column is-one-third'>
      <label class='label'>Visível na home: </label>
      <div class="control">
        <label class="radio">
          <%= form.radio_button :visible_on_home, true %>
          Sim
        </label>
        <label class="radio">
          <%= form.radio_button :visible_on_home, false %>
          Não
        </label>
      </div>
    </div>

  </div>

  <div class='columns'>
    <div class='column is-one-third'>
      <div class="field">
        <label class="label">Titulo do Projeto:</label>
        <div class='control'>
          <%= form.text_field :title, class:"input is-link is-rounded is-focused" %>
        </div>
      </div>
    </div>
    <div class='column is-one-third'>
      <div class="field">
        <label class="label">Link de produção:</label>
        <div class="control">
          <%= form.url_field :production_link, class:"input is-link is-rounded" %>
        </div>
      </div>
    </div>
    <div class='column is-one-third'>
      <div class="field">
        <label class='label'>Repositório Github:</label>
        <div class="control">
          <%= form.url_field :repository_link, class:"input is-link is-rounded" %>
        </div>
      </div>
    </div>
  </div>
  
  <%= link_to_add_nested(form, :projects_stacks, '#projects-stacks', link_classes: 'button is-primary is-small') do %>
    <i class='fas fa-plus-square'></i> &nbsp;Adicionar tecnologia
  <% end %><br><br>
  
  <div class="field">
    <label class='label'>Desenvolvido com:</label>

    <div class='columns is-multiline is-mobile'>
      <div id='projects-stacks'>
        <%= form.fields_for :projects_stacks do |projects_stack| %>
          <%= render 'projects_stack_fields', form: projects_stack %>
        <% end %>
      </div>
    </div>
  </div>

  <div class='field'>
    <label class='label'>Descrição do projeto</label>
    <div class='control'>
      <%= form.text_area :description, class:"textarea is-link is-rounded", rows:10 %>
    </div>
  </div>

  <div class="field">
    <label class='label'>Objetivos do Projeto:</label>
    <div class="control">
      <%= form.trix_editor :objectives, class:"textarea is-link" %>
    </div>
  </div>

  <div class="field">
    <label class='label'>Aprendizados do Projeto:</label>
    <div class="control">
      <%= form.trix_editor :learns, class:"textarea is-link" %>
    </div>
  </div>

  <div class="actions is-grouped">
    <div class="control">
      <%= form.submit "Salvar", class:"button is-primary" %>
      <%= link_to backoffice_projects_path, class:"button is-info" do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
    </div>
  </div>
<% end %>
