
<section class="section">
  <div class="container">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Title:</strong>
              <%= @project.title %>
            </p>

            <p>
              <strong>Link de Produção:</strong>
              <%= link_to @project.production_link, target:"_blank" do %>
                <% image_tag 'server.png', size:"28x28"%>
              <% end %>
            </p>

            <p>
              <strong>Link do Github:</strong>
              <%= link_to @project.repository_link, target:"_blank" do %>
                <% image_tag 'GitHub-Emblema.png', size:"48x48"%>
              <% end %>
            </p>

            <%= link_to edit_backoffice_project_path(@project), class:"button is-link" do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to backoffice_projects_path, class:"button is-info" do %>
              <i class="fas fa-arrow-left"></i>
            <% end %>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
    


