<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label class="label">Titulo do Projeto:</label>
    <div class='control'>
      <%= form.text_field :title, class:"input is-link is-rounded is-focused" %>
    </div>
  </div>

  <div class="field">
    <div class="file">
      <label class="file-label">
        <% if project.pictures.attached? %>
          <div class="image is-128x128">
            <%= image_tag project.pictures %>
          </div>
        <% else %>
          <%= form.file_field :pictures, class:"file-input is-link is-rounded", multiple: true %>
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Escolha uma imagem…
            </span>
          </span>
        <% end %>
      </label>
    </div>
  </div>

  <div class="field">
    <label class="label">Link de produção:</label>
    <div class="control">
      <%= form.text_field :production_link, class:"input is-link is-rounded" %>
    </div>
  </div>

  <div class="field">
    <label class='label'>Repositório Github:</label>
    <div class="control">
      <%= form.text_field :repository_link, class:"input is-link is-rounded" %>
    </div>
  </div>

  <%= link_to_add_nested(form, :projects_stacks, '#projects-stacks', link_classes: 'button is-primary is-small') do %>
    <i class='fas fa-plus-square'></i> &nbsp;Add Stack
  <% end %><br><br>
  
  <div class="field">
    <label class='label'>Desenvolvido com:</label>

    <div id='projects-stacks'>
      <%= form.fields_for :projects_stacks do |projects_stack| %>
        <%= render 'projects_stack_fields', form: projects_stack %>
      <% end %>
    </div>
  </div>

  <div class="actions is-grouped">
    <div class="control">
      <%= form.submit "Salvar", class:"button is-primary" %>
      <%= link_to projects_path, class:"button is-info" do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
    </div>
  </div>
<% end %>

