<section class="section">

    <main role="main" class="inner cover">
      <h2 class="title is-2"><strong class='has-text-success'><%= @project.title %></strong></h2>

      <p class='title is-4'><strong class='has-text-success'>Tecnologias</strong> </p>

      <div class='columns'>
        <div class='column is-one-quarter'>
          <div class='columns is-multiline is-mobile'>
            <% @project.projects_stacks.each do |project_stack| %>
              <div class='column is-one-fifth'>
                <figure class="image is-48x48">
                  <%= project_stack.stack.picture.attached? ? cl_image_tag(url_for(project_stack.stack.picture), :secure=>"true") : image_tag("https://bulma.io/images/placeholders/1280x960.png") %>
                </figure>&nbsp;&nbsp;
              </div>
            <% end %>
          </div>
        </div>
      </div>
      
      <h4 class='title is-4'><strong class='has-text-success'>Descrição do projeto</strong></h4>
      <div class='block content'>
        <p><%= @project.description%></p>
      </div>

      <h4 class='title is-4'><strong class='has-text-success'>Objetivos</strong></h4>
      <div class='block content'>
        <p><%= @project.objectives%></p>
      </div>

      <h4 class='title is-4'><strong class='has-text-success'>Aprendizados</strong></h4>
      <div class='block content'>
        <p><%= @project.learns%></p>
      </div>
      
    </main>

</section>