<main role="main">

  <%= render "shared/site/header" %>

  <div class="container marketing">

    <!-- START THE FEATURETTES -->
    <% unless @projects_list.present? %>
      <div class='is-centered' style='text-align:center;height:250px;padding-top:100px;margin:auto;'>
        <p class='title is-3'>Em breve...</p>
      </div>
    <% else %>
      <% @projects_list.each do |project| %>
        <div class='container'>

          <div class="row featurette">

            <div class="col-md-7" style="margin-top:-80px;">
              <h2 class="featurette-heading"><strong class='has-text-success'><%= project.title %></strong></h2><br>
              <p class='title is-5 has-text-white-bis'> <strong class='has-text-success'>Sobre o projeto</strong></p>
              <p class='has-text-justified'><%= project.description %></p><br>
              <p><%= link_to "Ver detalhes", project_path(project), class:"button is-link is-small" %></p>
            </div>
          </div>

          <hr class="featurette-divider">
        </div>
      <% end %>
    <% end %>

    <div class='block' style='margin-bottom:40px;'>
      <%= paginate @projects_list %>
    </div>

    <!-- /END THE FEATURETTES -->

    <!-- Three columns of text below the carousel -->
    <p class='title is-4'>Últimos projetos...</p>
    
    <div class="columns" style='margin-bottom:80px;'>
      <% unless @lasts_tree_projects.present? %>
        <div class='is-centered' style='text-align:center;height:250px;padding-top:100px;'>
          <p class='title is-3'>Em breve...</p>
        </div>
      <% else %>
        <% @lasts_tree_projects.each do |project| %>

          <div class="column is-one-third">
            <h4 class='title is-4'><%= project.title %></h4>
            <p class='has-text-justified'><%= project.description %></p><br>
            <div class='columns is-multiline is-mobile'>
              <% project.projects_stacks.each do |project_stack| %>
                <div class='column is-one-fifth'>
                  <figure class="image is-32x32">
                    <%= project_stack.stack.picture.attached? ? cl_image_tag(url_for(project_stack.stack.picture), :width=>400, :height=>400, crop:"pad", :secure=>"true") : image_tag("https://bulma.io/images/placeholders/1280x960.png") %>
                  </figure>&nbsp;&nbsp;
                </div>
              <% end %>
            </div>
            <p><%= link_to "Leia mais...", project_path(project), class:"button is-link" %></p>
          </div>

        <% end %>
      <% end %>
    </div>

  </div><!-- /.container -->

</main>
